@{
    ViewData["Title"] = "Articles";
}


<div class="text-center">
    <h2>Create Articles</h2>
</div>


<div class="container text-center">
    <form action="~/article/create" method="post">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <label for="inputId" class="form-label">Id</label>
                <input type="number" class="form-control" name="id" id="inputId">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <label for="articleTitle" class="form-label">Title</label>
                <input type="text" class="form-control" name="Title" id="articleTitle">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <input type="submit" class="btn btn-primary" value="Create" />
            </div>
        </div>
    </form>
</div>
