@{
    ViewData["Title"] = "Home Page";
    // ViewBag.Message = "Hello";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@ViewBag.Hello</p>
</div>

<h2>@ViewBag.Message</h2>

<div class="text-center">
    @for (int i = 0; i < 20; i++)
    {
        if (i % 2 == 0)
        {
            <p>Number - @i</p>
        }
        else
        {
            <p>
                <b>
                    Num - @i
                </b>
            </p>
        }
    }
    
    <p>@ViewData["Bye"]</p>
</div>

@section Scripts
{
    <script>
        console.log('123');
    </script>   
}

@section CSS
{
    
}
