@using WebApp.MVC7.HtmlHelpers
@{
    ViewData["Title"] = "Home Page";
    // ViewBag.Message = "Hello";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@ViewBag.Hello</p>
</div>

<date-time id="111">
    <watch></watch>
    <date></date>
    <date></date>
    <date></date>
    <date></date>
</date-time>


<h2>@ViewBag.Message</h2>

<div class="text-center">
    @Html.CreateList(new []{"123","321","132"})

    <p>@ViewData["Bye"]</p>
</div>

@section Scripts
    {
    <script>
        console.log('123');
    </script>
}

@section CSS
    {

}
