@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<script>
    console.log('Hello from inline script');
</script>

@section Scripts
{
    @* <script src="~/js/site.js"></script> *@
}
